.book-container {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}


.upper-container {
  max-width: 1300px;       
  margin: 0 auto;             
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.4);
  box-sizing: border-box;
}


.lower-container {
  max-width: 1300px; 
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.4);
  box-sizing: border-box;
}

.item-img {
  background-color: white;
  padding: 50px;
  display: flex;              /* aktiviraj flexbox */
  justify-content: center
}

.item-img img {
  width: 250px;
  height: 350px;     /* primer, zakucana visina */
  object-fit: contain; /* ili cover, zavisi da li želiš da ostane cela slika ili da popuni okvir */
}


.item-data {
    background-color: white;
    padding: 30px;
}

.data-amount-wraper {
  display: flex;
  justify-content: center;   /* horizontalno */
  align-items: center;       /* vertikalno */
}

.data-description {
    margin-top: 30px;
}

.cena-wraper {
  max-width: 400px;
}

.maloprodajna {
  text-decoration: line-through;
  color: gray;
  font-size: small;
}

.naSajtu {
  color: red;
  font-size: larger;
  font-weight: 600;
}

.data-index {
    color: #6d6e71;
}

.data-action {
    max-width: 600px;
    display: flex;
    justify-content:start;
    margin: 0;
}

.data-cart .btn {
  display: flex;
  align-items: center;   /* vertikalno centriranje */
  justify-content: center; /* horizontalno centriranje (ako hoćeš sve u sredini) */
  gap: 0.5rem;           /* razmak između teksta i ikone */
}

.btn:focus,
.btn:active {
  box-shadow: none !important; /* skida plavi/avičasti glow */
  outline: none !important;    /* skida outline liniju */
}


.btn-group input{
    width: 30px;
    text-align: center;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    border-left: 0px solid orange;
    border-right: 1px solid orange;
}

input:focus,
input:active {
  box-shadow: none !important; /* skida plavi/avičasti glow */
  outline: none !important;    /* skida outline liniju */
}

.item-info {
    width: 900px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.accordion-button:focus {
  box-shadow: none;   /* ukloni plavi outline */
  font-weight: 600;
}

.accordion-button:not(.collapsed) {
  background-color: #ffd54d;
  color: #000;
  font-weight: 600;
  box-shadow: none;    /* nema bootstrap plavog */
}

.item-similar {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 400px;
  background-color: white;
  text-align: center;
}

.preporuceno-za-tebe {
  color: #6d6e71;
  font-weight: 600;
  text-decoration: double;
}

.carousel-inner {
  display: block;
  margin: 0 auto;
}

.carousel-item > .d-flex {
  height: 100%;
  align-items: center; /* vertikalno centriranje */
}

@media (max-width: 768px) {
  .data-amount-wraper {
    justify-content: start; 
  }
  .item-img {
    padding-top: 50px;
    
  }
}