.reklama1 {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  text-align: center;
}

.reklama1 img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Desktop: horizontalna slika se prikazuje, vertikalna se skriva */
@media (min-width: 577px) {
  .reklama1 img.horizontal {
    display: block;
  }
  .reklama1 img.vertical {
    display: none;
  }
}

/* Mobile: vertikalna slika se prikazuje, horizontalna se skriva */
@media (max-width: 576px) {
  .reklama1 img.horizontal {
    display: none;
  }
  .reklama1 img.vertical {
    display: block;
    max-height: 80vh; /* da stane u ekran */
  }
}
