.footer-container {
  width: 100%;
  color: gray;
  background-color: #fcb800;
}

.footer-container a {
  color: #000;
}

.border-top {
  border-color: #000;
}

h5 {
  color: black;
}

.footer-container a:hover {
  color: black;
  font-weight: 500;
}

/* Po defaultu desktop verzija je vidljiva, mobilna sakrivena */
.pc-container {
  display: block;
}

.mobile-container {
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
}



/* osnovno stanje */
#accordion-button {
  color: #000;              /* crni tekst */
}

/* kad je otvoren (ne collapsed) */
#accordion-button:not(.collapsed) {
  background-color: #ffd54d;
  color: #000;
  font-weight: 600;
  box-shadow: none;    /* nema bootstrap plavog */
}

/* hover efekat */
#accordion-button:hover {
  background-color: #ffd54d;
  font-weight: 600;
}

/* kad je u focusu (kliknuto/tab) */
#accordion-button:focus {
  box-shadow: none;   /* ukloni plavi outline */
  background-color: #ffd54d;
  font-weight: 600;
}



/* Kad ekran postane "mobilan" (recimo < 768px), sakrij desktop i prikaži mobilni */
@media (max-width: 768px) {
  .pc-container {
    display: none;
  }

  .mobile-container {
    display: block;
  }
  .footer-container  {
    background-color: white;
  }
}
