.header-container {
  background-color: #fcb800;
  /* ukloni padding sa sticky konteksta */
  padding: 0;
}

.navbar .container-fluid {
  padding-left: 100px;
  padding-right: 100px;
}

.header-container a {
  color: gray;
}

.header-container a:focus {
  color: black;
  font-weight: 500;
}

.header-container a:hover{
  color: black;
  font-weight: 500;
}

.navbar-toggler {
  border-color: #000; /* crni okvir dugmeta */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

svg {
  color: #000;
}

.navbar-brand {
  margin-right: 200px;
}

@media (max-width: 768px) {
  .navbar-brand {
    margin-right: 0px;
  }
  .navbar .container-fluid {
    padding-left: 40px;
    padding-right: 40px;
  }
}