.pribor-container{
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
}

@media (max-width: 768px) {
    .pribor-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    }
}