.my-texture {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://www.transparenttextures.com/patterns/climpek.png");
    z-index: -1; /* šalje pozadinu ispod sadržaja */
}